<div class="row container-parent-chat">
  
    <aside class="col-2 col-sm-4">
        
        <div class="my-2">
           
            <input class="form-control search-chat " list="datalistOptions" id="exampleDataList" placeholder="Buscar un amigo">
            <datalist id="datalistOptions">
              <option value="pedro Diaz">
              <option value="Laura Ross">
              
            </datalist>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item d-none" role="presentation">
              <button class="nav-link active" id="mached-tab" data-bs-toggle="tab" data-bs-target="#mached" type="button" role="tab" aria-controls="mached" aria-selected="true">Amigos</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">Mensajes</button>
            </li>
            
          </ul>
          <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade d-none" id="mached" role="tabpanel" aria-labelledby="mached-tab">
                <div class="container mt-4">
                    <span class="container-img-profile img-chat mx-2">
                        <img  src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                    </span>
                    <span class="container-img-profile img-chat mx-2">
                        <img  src="assets/profiles/profile4.jpg" alt="profile2" width="100">
                    </span>
                </div>
                
            </div>
            <div class="tab-pane fade show active" id="message" role="tabpanel" aria-labelledby="message-tab">

                <div class="container mt-4 p-0">
                <div class="list-group list-item">
                    <a href="chat-movil.html" class="list-group-item list-group-item-action   " aria-current="true">
                        <div class="container-img-profile  img-chat  m-2 d-inline-block">
                            <img class="img-fluid rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                        </div>
                        
                        <div class=" d-inline-block  px-1 chat-description">
                          
                          <div class=" me-auto"> 
                            
                              <h6 class="mb-1">Karla Arrieta 
                                  <span class="badge bg-primary rounded-pill">14</span>
                              </h6>
                              <p class="mb-1">Hola como estas <small >.1m</small></p>
                              
                          </div>
                        
                       
                      </div>
                      

                    </a>
                    <a href="chat-movil.html" class="list-group-item list-group-item-action   " aria-current="true">
                      <div class="container-img-profile  img-chat  m-2 d-inline-block">
                          <img class="img-fluid rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                      </div>
                      
                      <div class=" d-inline-block  px-1 chat-description">
                        
                        <div class=" me-auto"> 
                          
                            <h6 class="mb-1">Karla Arrieta 
                                <span class="badge bg-primary rounded-pill">14</span>
                            </h6>
                            <p class="mb-1">Hola como estas <small >.1m</small></p>
                            
                        </div>
                      
                     
                    </div>
                    

                  </a>

                  <a href="chat-movil.html" class="list-group-item list-group-item-action   " aria-current="true">
                    <div class="container-img-profile  img-chat  m-2 d-inline-block">
                        <img class="img-fluid rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                    </div>
                    
                    <div class=" d-inline-block  px-1 chat-description">
                      
                      <div class=" me-auto"> 
                        
                          <h6 class="mb-1">Karla Arrieta 
                              <span class="badge bg-primary rounded-pill">14</span>
                          </h6>
                          <p class="mb-1">Hola como estas <small >.1m</small></p>
                          
                      </div>
                    
                   
                  </div>
                  

                </a>


                <a href="chat-movil.html" class="list-group-item list-group-item-action   " aria-current="true">
                  <div class="container-img-profile  img-chat  m-2 d-inline-block">
                      <img class="img-fluid rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                  </div>
                  
                  <div class=" d-inline-block  px-1 chat-description">
                    
                    <div class=" me-auto"> 
                      
                        <h6 class="mb-1">Karla Arrieta 
                            <span class="badge bg-primary rounded-pill">14</span>
                        </h6>
                        <p class="mb-1">Hola como estas <small >.1m</small></p>
                        
                    </div>
                  
                 
                  </div>
                

                </a>


                <a href="chat-movil.html" class="list-group-item list-group-item-action   " aria-current="true">
                  <div class="container-img-profile  img-chat  m-2 d-inline-block">
                      <img class="img-fluid rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                  </div>
                  
                  <div class=" d-inline-block  px-1 chat-description">
                    
                    <div class=" me-auto"> 
                      
                        <h6 class="mb-1">Karla Arrieta 
                            <span class="badge bg-primary rounded-pill">14</span>
                        </h6>
                        <p class="mb-1">Hola como estas <small >.1m</small></p>
                        
                    </div>
                  
                
                  </div>
                

                 </a>


              <a href="chat-movil.html" class="list-group-item list-group-item-action   " aria-current="true">
                <div class="container-img-profile  img-chat  m-2 d-inline-block">
                    <img class="img-fluid rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                </div>
                
                <div class=" d-inline-block  px-1 chat-description">
                  
                  <div class=" me-auto"> 
                    
                      <h6 class="mb-1">Karla Arrieta 
                          <span class="badge bg-primary rounded-pill">14</span>
                      </h6>
                      <p class="mb-1">Hola como estas <small >.1m</small></p>
                      
                  </div>
                
              
                </div>
              

              </a>

              <a href="chat-movil.html" class="list-group-item list-group-item-action   " aria-current="true">
                <div class="container-img-profile  img-chat  m-2 d-inline-block">
                    <img class="img-fluid rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2" width="100">
                </div>
                
                <div class=" d-inline-block  px-1 chat-description">
                  
                  <div class=" me-auto"> 
                    
                      <h6 class="mb-1">Karla Arrieta 
                          <span class="badge bg-primary rounded-pill">14</span>
                      </h6>
                      <p class="mb-1">Hola como estas <small >.1m</small></p>
                      
                  </div>
                
              
                </div>
              

              </a>

              </div>
            </div>
        </div>
           
      </div>
    </aside>

    <div class="col-10 col-sm-8  container-chat">
      <div class="card card-chat h-100">
          <div class="card-header ">
              <!-- <div class="list-group-item list-group-item-action  d-flex "> -->
                <span class="container-img-profile img-chat mx-2">
                    <img  src="assets/profiles/profile4.jpg" alt="profile2" width="100">
                </span>
                
                <div class="info-profile px-2">
                  <div class="ms-2 me-auto"> 
                      <h5 class="mb-1">Kamilo, 34 
                          <i class="fas fa-check-circle text-primary"></i>
                      </h5>
                      <p class="mb-1">Maracaibo</p>
                      
                  </div>
          
                </div>
                <div class="menu-profile float-end">
                  <i class="fas fa-ellipsis-v"></i>
                </div>

              <!-- </div> -->
          </div>
          <div class="card-body">
          
            <div class="container-fluid">
                <div class="chat-box-remitente border ms-5">
                  <p class="card-text text-muted p-2">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              
              <span class="container-img-profile img-chat mx-2">
                  <img src="assets/profiles/profile4.jpg" alt="profile2" width="50">
              </span>
            </div>

            <div class="container-fluid">
              <div class="chat-box-emisor  bg-primary  border  me-5 float-end">
                <p class="card-text  text-wrap text-light p-2">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            
            <span class="container-img-profile img-chat mx-2 float-end">
                <img src="assets/profiles/profile4.jpg" alt="profile2" width="50">
            </span>
          </div>
           
          </div>
          <div class="card-footer text-muted d-flex">
              <input class="form-control search-chat" id="exampleDataList" placeholder="Escribir algo...">
              <button class="btn btn-danger mx-2">Enviar</button>
          </div>
        </div>
    </div>
   
  </div>