/* :root {
    --nav-width: 200px;
    --nav-collapse-width: 80px;
  
    --header-height: 50px;
  
    --nav-bg-color: #ffffff;
    --active-color: #dc3545;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
  }
   */
  /* Global Style */
 