
      <header id="header">
        <i class="fas fa-bars text-danger" id="nav-toggler"></i>
        
        <form class="d-flex">
          <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit"><i class="fas fa-search"></i></button>
        </form>

        <div class="d-flex items-notifications">
          <a class="nav-link"  href="#">
            <i class="far fa-bell"></i>
          </a>
        
          <a class="nav-link" href="#" role="button">
            <i class="fas fa-cog"></i>
          </a>

          <a class="nav-link" href="#" role="button">
            <i class="fas fa-moon"></i>
          </a>
        </div>
        <!-- <div>
          <i class="fas fa-user-alt"></i>
          <span>admin</span>
        </div> -->
      </header>

      <nav id="nav" class="menu-mini">
       
          <div class="d-flex flex-column mx-3 mb-2 info-profile-dashboard">
            <div class="logo mb-2">
              
              <img src="assets/logowoboxx.png" alt="logotipo" 
              class="img-fluid">
            </div>
            
            <div class=" d-flex">

              <div class="dashboard-img-profile   ">
                <img src="assets/profiles/profile4.jpg"  alt="profile2">
              </div>
            
              <div class="ms-2 me-auto info-user"> 
                  <p class="mb-1">Albert Porras</p>
                  <small class="mb-1 d-block">@PorrasAlbert</small>
                  <small class="mb-1 d-block">36,5k seguidores</small>
                  
              </div>
            
            </div>
            <div class="form-check form-switch mt-2">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Permitir conocerme</label>
            </div>

            <div class="form-check form-switch mt-2">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault2">
              <label class="form-check-label" for="flexSwitchCheckDefault2">Permanecer activo</label>
            </div>

            <button type="button" class="btn btn-primary  mt-3 btn-post">Publicar +</button>

          
          </div>

         
          <ul class="nav_ border-top">
            <li class="nav__item">
              <a href="#" class="nav__item-link ">
                <i class="fas fa-home"></i>
                <span>Inicio </span>
              </a>
            
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">
                <i class="fas fa-globe"></i>
                <span>Encontrar</span>
              </a>
              
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">
                <i class="fas fa-inbox"></i>
                <span>Inbox</span>
              </a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">
                <i class="fas fa-restroom"></i>
                <span>Probar suerte</span>
              </a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">
                <i class="far fa-grin-hearts"></i>
                <span>Atracciones</span>
              </a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">
                <i class="fas fa-star"></i>
                <span>Votar</span>
              </a>
            </li>
          </ul>
        

      </nav>
      <main class=" mt-4 container-fluid" id="main">
        
          <div class="row">
            <div class="col-md-8">
              <app-profile></app-profile>
              
              
            </div>
            <div class="col-md-4">
              <div class="container-ads mb-3">
                <img class="img-fluid" src="assets/facebook-ads.jpg" alt="" >
               
              </div> 

              <app-profile-post></app-profile-post>
              
              
              
            </div>
          </div>
          <!-- <app-chat></app-chat> -->

      </main>
    
    <div id="sidebar-overlay" class="d-none"></div>
  
    
 