<div class="m-2 d-flex justify-content-between">
    <span class="fs-5">Dinos que piensas? </span>
    <button class="btn btn-outline-danger rounded-circle" type="button"><i class="fas fa-plus"></i></button>
  </div>
  <ul class="list-group item-think ">
    <li class="list-group-item d-flex border-0">
      <span class="user-panel mx-2">
        <img  class="rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2">
        
      </span>
      <p class="d-inline w-100">
        Hola como estas Hola como estas Hola como estasHola como estas 
      </p>
      <div class="mx-2 text-end d-flex">
        <a href="#" class="me-2 ">
          <i class="fas fa-heart text-danger "></i>
        </a>
        <a href="#" class="me-2 ">
          <i class="fas fa-cog"></i>
        </a>
      </div>
    </li>
    <li class="list-group-item d-flex border-0">
      
        <span class="user-panel mx-2">
          <img  class="rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2">
          
        </span>
        <p class="d-inline w-100">
          Inspirados en el desarrollo de nuevas ideas
        </p>

     
      
        <div class="mx-2 text-end d-flex">
          <a href="#" class="me-2 ">
            <i class="fas fa-heart"></i>
          </a>
          <a href="#" class="me-2 ">
            <i class="fas fa-cog"></i>
          </a>
        </div>
    </li>

    <li class="list-group-item d-flex border-0">
      <span class="user-panel mx-2">
        <img  class="rounded-circle" src="assets/profiles/profile3.jpg" alt="profile2">
        
      </span>
      <p class="d-inline w-100">Sabias que entre menos dediques tiempo a tu crecimiento , menos resultados ... </p>

      <div class="mx-2 text-end d-flex">
        <a href="#" class="me-2 ">
          <i class="fas fa-heart"></i>
        </a>
        <a href="#" class="me-2 ">
          <i class="fas fa-cog"></i>
        </a>
      </div>
    </li>
  </ul>