<header class="vh-100 bg-img">
    <nav class="navbar navbar-expand-lg navbar-dark px-3">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logowoboxx.png" alt="logo woboxx" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-4">
                <a class="nav-link active" aria-current="page" href="#">Productos</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link" href="#">Servicios</a>
            </li>
            
            <li class="nav-item mx-4">
                <a class="nav-link" href="#" >Nosotros</a>
            </li>
            </ul>
            <!-- <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-login" >INICIAR SESION</button> -->
            <button type="button" class="btn btn-outline-danger" (click)="modalService.open(content)" >INICIAR SESION</button>
        </div>
        </div>
    </nav>

    <div class="container info-header d-flex flex-column justify-content-center align-items-center">
        <h1>Conectate</h1>
        <!-- <button type="button" class="btn btn-danger btn-lg" >REGISTRATE YA!</button> -->
        <a class="btn btn-danger btn-lg" routerLink="register" role="button">REGISTRATE YA!</a>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <!-- <app-login></app-login> -->
        <div class="modal-header">
        
            <h3 class="modal-title w-100 text-center">A POCOS PASOS</h3>

        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
        <button type="button" class="btn-close" aria-label="Close" (click)="d()">
            <!-- <span aria-hidden="true">&times;</span> -->
        </button>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-2 col-9 mx-auto button-login">
                <button class="btn btn-outline-danger" type="button">
                    <span class="icon-option-login">
                        <img alt=""  src="https://tinder.com/static/build/143e05ff53bb18f3504332bca8beb85e.svg" height="16" width="16">
                    </span> 
                    <span class="title-btn-login">
                        INICIAR SESIÓN CON GOOGLE
                    </span>
                    
                </button>
                <button class="btn btn-outline-primary" type="button">
                    <span class="icon-option-login">
                        <img src="https://tinder.com/static/build/607412d0d342547e47e3935a57b79940.svg" height="16" width="16">
                    </span>
                    <span class="title-btn-login">
                        INICIAR SESIÓN CON FACEBOOK
                    </span>
                
                </button>
                <button class="btn btn-outline-secondary" type="button">
                    <span class="icon-option-login">
                        <i class="fas fa-phone"></i>
                    </span>
                    <span class="title-btn-login">
                        INICIAR SESIÓN CON EL TELEFONO
                    </span>
                    
                </button>
                <span class="text-center">
                    <a href="#">Recuperar cuenta.</a>
                </span>
            </div>
        </div>
        <div class="modal-footer ">
            <div class="d-grid gap-2 col-9 mx-auto text-center">
                <h3 class="text-muted">!DESCARGA LA APP!</h3>
                <button type="button" class="btn btn-secondary" >Click para descargar</button>
            </div>
        </div>
      </ng-template>
</header>