<div class="card border-bottom-0">
  <div class="card-header p-0">
    <div class="card bg-dark text-white">
      <svg class="bd-placeholder-img bd-placeholder-img-lg card-img" width="100%" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text>
      </svg>
      <div class="card-img-overlay w-100 h-100">
        <h5 class="card-title">Maracaibo, venezuela</h5>
        <div class="position-absolute bottom-0 p-2">
          <p class="card-text d-inline fs-5">26,5k seguidores</p>
          <!-- <p class="card-text d-inline fs-5">33 Items</p> -->
        </div>

        <div class="menu-profile position-absolute top-0 end-0 p-3">
          <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
        </div>
        
        
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">Albert Porras, 34 
      <i class="fas fa-check-circle"></i>
    </h4>
    <p class="card-text fs-5">@PorrasAlbert</p>
    <p class="card-text w-75">lorem ipsu Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum molestiae corporis vitae, nemo minus earum reprehenderit porro fuga ut laboriosam tempora quaerat laborum rem quod pariatur quis, ipsa alias voluptatem.</p>
    <div class="d-grid gap-2 d-md-block float-end px-4">
      <button class="btn btn-outline-danger" type="button">Seguir</button>
      <button class="btn btn-outline-danger" type="button">Suscribirme</button>
      <button class="btn btn-outline-danger rounded-circle" type="button"><i class="far fa-comment-dots"></i></button>
      <button class="btn btn-outline-danger rounded-circle" type="button"><i class="fas fa-gift"></i></button>
      <button class="btn btn-outline-danger rounded-circle" type="button"><i class="far fa-star"></i></button>
    </div>
    <!-- <button class="btn btn-outline-danger"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Conocer mas</button> -->
    <button class="btn btn-outline-danger"  (click)="acc.toggle('toggle-1')">Conocer mas</button>
    
  </div>

  <div class="container-img-profile size-img-profile position-absolute top-50 end-0 shadow">
    <img src="assets/profiles/profile4.jpg" alt="profile2" width="150px" height="150px">
  </div>


</div>


<!-- <div class="accordion" id="accordionExample"> -->
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" >
      <ng-template ngbPanelContent >
  <!-- <div class="accordion-item border-top-0 border-bottom-0"> -->
  
    <!-- <div id="collapseOne" class="accordion-collapse collapse show border-bottom-0" aria-labelledby="headingOne" data-bs-parent="#accordionExample"> -->
      <!-- <div class="accordion-body"> -->
        <span class="badge bg-secondary fs-6 mb-2">Infobox</span>
        <p class="mb-2">
          ipsu Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum molestiae corporis vitae, nemo minus earum reprehenderit porro fuga ut laboriosam tempora quaerat laborum rem quod pariatur quis, ipsa alias voluptatem.
        </p> 
        
        <div class="d-flex justify-content-between mt-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> 
              <i class="fas fa-map-marker-alt text-danger"></i> 
              Vive en maracaibo, venezuela
            </li>
            <li class="list-group-item"> 
              <i class="fas fa-briefcase text-danger"></i> 
              Trabaja con Producción Audiovisual
            </li>
            <li class="list-group-item"> 
              <i class="fab fa-gratipay text-danger"></i> 
              Se encuentra soltero
            </li>
            <li class="list-group-item"> 
              <i class="fas fa-search-plus text-danger"></i> 
              Busca una relación seria
            </li>
            
          </ul>

          <ul class="list-group text-center list-group-flush">
            <h6 >Sigueme</h6>
            <li class="list-group-item d-flex justify-content-center">
              <div class=" me-auto">
                <span>@PorrasAlbert</span>
              </div>
              
              <span class="mx-1">
                <i class="fab fa-instagram-square"></i>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-center">
              <div class="me-auto">
                <span>Albert Porras</span>
              </div>
              
              <span class="mx-1">
                <i class="fab fa-facebook"></i>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-center">
              <div class=" me-auto">
                <span>@PorrasAlbert</span>
              </div>
              <span class="mx-1">
                <i class="fab fa-twitter-square"></i>
              </span>
              
            </li>
            
          
          </ul>
        </div>
      <!-- </div>
    </div> -->
  <!-- </div> -->
  <div class="container-fluid border-end border-bottom border-start p-3">
    <p class=" badge bg-secondary card-text fs-6">Intereses</p>
    <div>
      <button class="btn btn-danger"><i class="fas fa-music"></i> Musica</button>
      <button class="btn btn-primary"><i class="fas fa-camera"></i> Fotografia</button>
      <button class="btn btn-success"><i class="fas fa-plane"></i> Viajes</button>
    </div>
  </div>
</ng-template>
</ngb-panel>
</ngb-accordion>

<!-- </div> -->

<!-- <div class="container-fluid border-end border-bottom border-start p-3">
  <p class=" badge bg-secondary card-text fs-6">Intereses</p>
  <div>
    <button class="btn btn-danger"><i class="fas fa-music"></i> Musica</button>
    <button class="btn btn-primary"><i class="fas fa-camera"></i> Fotografia</button>
    <button class="btn btn-success"><i class="fas fa-plane"></i> Viajes</button>
  </div>
</div> -->