
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
        <img src="assets/logowoboxx.png" alt="" height="50">
        </a>
    </div>
</nav>
<main class="container d-flex flex-column justify-content-center align-items-center">
  <span class="p-4 text-center ">
    <h2 class="fw-bold text-muted">CREAR UNA CUENTA</h2>
  </span>

    <form class="row g-5 form-register pb-4 px-2">

      <div class="col-md-6">
        <div class="row form-inputs">
           
          <div class="col-md-12">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputName">
          </div>
        
          <div class="col-12">
            <label for="inputSexo" class="form-label">Sexo</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>Masculino</option>
              <option value="">Femenino</option>
            </select>
          </div>
          <div class="col-md-12">
            <label for="inputDateBorn" class="form-label">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="inputDateBorn">
          </div>

          <div class="col-md-12">
            <label for="inputOrientationSexual" class="form-label">Orientación Sexual</label><br>
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-outline-secondary mx-2" (click)="openVerticallyCentered(modalOrientation)">
                <i class="fas fa-plus"></i>
              </button>
              <div class="items-selected">
                <span class="badge bg-info text-dark">Gay</span>
                <span class="badge bg-info text-dark">Lesbiana</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="inputState" class="form-label">Pais</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="inputCountry" class="form-label">Ciudad</label>
            <select id="inputCountry" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          
          <div class="col-md-4">
            <label for="inputPre" class="form-label">Prefijo</label>
            <input type="text" value="+57" class="form-control" id="inputPre">
          </div>
          <div class="col-md-8">
            <label for="inputPhone" class="form-label">Telefono</label>
            <input type="number" class="form-control" id="inputPhone">
          </div>

      
        </div>
      </div>
     
      

    
      <!-- <div class="col-md-6">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
      </div> -->
      
      <div class="col-md-6">

        <!-- <div class="row"> -->
          <div>
            <label for="formFile" class="form-label">Galeria de fotos</label>
          </div>

          <div class="d-flex flex-wrap">
            
          <div class="card text-white card-add-photo m-2" for="formFile" style="width: 8rem;">
            <button class="btn btn-secondary position-absolute">X</button>
            <label for="formFile" class="label-photos">
              <img src="assets/profiles/profile1.jpg" class="card-img" alt="Profile">
              
            </label>
            <input class="form-control box-file" type="file" id="formFile">
          </div>
         
          <div class="card text-white card-add-photo m-2" for="formFile" style="width: 8rem;">
            <button class="btn btn-secondary position-absolute">X</button>
            <label for="formFile" class="label-photos">
              <img src="assets/profiles/profile1.jpg" class="card-img" alt="Profile">
              
            </label>
            <input class="form-control box-file" type="file" id="formFile">
          </div>

          <div class="card text-white card-add-photo m-2 justify-content-center align-items-center" for="formFile" style="width: 8rem;">
            <button class="btn btn-primary position-absolute">+</button>
            <label for="formFile" class="label-photos">
              <!-- <img src="profile1.jpg" class="card-img" alt="Profile"> -->
              
            </label>
            <input class="form-control box-file" type="file" id="formFile">
          </div>

          <div class="card text-white card-add-photo m-2 justify-content-center align-items-center" for="formFile" style="width: 8rem;">
            <button class="btn btn-primary position-absolute">+</button>
            <label for="formFile" class="label-photos">
              <!-- <img src="profile1.jpg" class="card-img" alt="Profile"> -->
              
            </label>
            <input class="form-control box-file" type="file" id="formFile">
          </div>

        </div>
           

          <div class="col-12  col-sm-12 py-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Accepta <a href="#">terminos y condiciones</a>
              </label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-danger btn-lg">Sign in</button>
          </div>
        <!-- </div> -->
    </div>
    </form>
 
</main>



  <ng-template #modalOrientation let-c="close" let-d="dismiss">
    <div class="modal-content modal-orientation">
        <div class="modal-header">
          
            <h3 class="modal-title w-100 text-center">Seleccione</h3>

          <button type="button" class="btn-close"  aria-label="Close" (click)="d()"></button>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-2 col-9 mx-auto ">
              <div class="list-group">
                <label class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="">
                  Gay
                </label>
                <label class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="">
                  Lesbiana
                </label>
                <label class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="">
                  Bisexual
                </label>
                
              </div>   
              
                
            </div>
        </div>
        <div class="modal-footer ">
            <div class="d-grid gap-2 col-9 mx-auto text-center">
                
                <button type="button" class="btn btn-danger" (click)="d()" >Continuar</button>
            </div>
        </div>
      </div>
    </ng-template>

  
