<div class="card card-chat ">
    <div class="card-header ">
        <!-- <div class="list-group-item list-group-item-action  d-flex "> -->
          <span class="container-img-profile img-chat mx-2">
              <img  src="assets/profiles/profile4.jpg" alt="profile2" width="100">
          </span>
          
          <div class="info-profile px-2">
            <div class="ms-2 me-auto"> 
                <h5 class="mb-1">Kamilo, 34 
                    <i class="fas fa-check-circle text-primary"></i>
                </h5>
                <p class="mb-1">Maracaibo</p>
                
            </div>
    
          </div>

          <div class="menu-profile float-end">
            <i class="fas fa-ellipsis-v"></i>
          </div>

        <!-- </div> -->
    </div>
    <div class="card-body">
    
      <div class="container-fluid">
          <div class="chat-box-remitente border ms-5">
            <p class="card-text text-muted p-2">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        
        <span class="container-img-profile img-chat mx-2">
            <img src="assets/profiles/profile4.jpg" alt="profile2" width="50">
        </span>
      </div>

      <div class="container-fluid">
        <div class="chat-box-emisor  bg-primary  border  me-5 float-end">
          <p class="card-text  text-wrap text-light p-2">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      
      <span class="container-img-profile img-chat mx-2 float-end">
          <img src="assets/profiles/profile4.jpg" alt="profile2" width="50">
      </span>
    </div>
     
    </div>
    <div class="card-footer text-muted d-flex">
        <input class="form-control search-chat" id="exampleDataList" placeholder="Escribir algo...">
        <span class="fs-4 d-flex align-items-center">
          <i class="fas fa-camera px-2"></i>
          <i class="far fa-smile-beam px-1"></i>
        </span>
        
        <button class="btn btn-danger mx-2">Enviar</button>
    </div>
  </div>