:root {
    --nav-width: 200px;
    --nav-collapse-width: 80px;
  
    --header-height: 50px;
  
    --nav-bg-color: #ffffff;
    --active-color: #dc3545;
  }
  
*{
    margin: 0;
    padding: 0;

}


  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
  }
  
/* html, body { height: 100%; } */

.container-900 {
    max-width: 900px;
}

header.bg-img {
    background-image: url("https://tinder.com/static/build/590275fec8cbbb0de80caa66c8450906.webp");
    /* background-color: rgba(0,0,0,.4); */
    box-shadow: inset 0px 20px 130px 120px black;
    background-size: cover;
    
}

header .navbar {
    border-color: transparent;
}

header .navbar a  {
    font-weight: 500;
    color: #fff !important;
    font-size: 1.5rem;
}

header .navbar a:hover  {
    
    color: #2560c0 !important;
   
}


header .info-header {
    height: 500px;
    text-shadow: 5px 5px 10px black;
}

header .info-header h1{
    font-size: 10vw;
    /* color: #fb0db2; */
    color: #fff;
}

/* .btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
} */
.button-login  button{
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
}
span.icon-option-login {
    position: absolute;
    left: 16px;
    width: 24px;
    height: 24px;
}



.btn-match button {
    background-color: #efefef29;
    box-shadow: -1px 7px 12px 3px black
}

.card-img-overlay {
    top: auto !important;;
}

.container-img-profile{
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.container-img-profile img {
    width: auto;
    height: 100%;
    /* margin-left: -40px; */
}

.bg-profile {
    color: #fff;
    background-color: #305cbb;
}

.btn {
   
    border-radius: 1.25rem !important;
}

/* .btn-match.btn {
    background-color: #efefef29;
} */

.modal-content, .addPhotos {
    border-radius: .8rem !important;
}


#modal-orientation .modal-header, #modal-orientation .modal-footer {
    border:none;
}

.label-photos {
 
    width: 126px;
    height: 189px;
    background: rgb(197, 194, 194);
}


/* .addPhotos:hover {
    border:1px solid #ff7c89;
} */
.box-file {
    display: none !important;
  }
  .container-img {
      display: inline;
  }

  .form-inputs>* {
      padding-bottom: 12px;
  }

  .form-control:focus, .form-select:focus, .label-photos:hover{
      border-color: #ff7c89 !important;
      box-shadow: 0 0 0 0.25rem #dc354536 !important;
  }

 .items-search>*{
    margin: 10px;
 }


 .select-gender {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }

 .search-chat {
    border-bottom: 1px solid #e8eaed!important;
    border-top: none;
    border-left: none;
    border-right: none;
 }

 .img-chat {
    width: 50px;
    height: 50px
 }

 .card-chat .card-header {
    background-color: #fff!important;
 }

 .card-chat .card-body {
    background-color: rgba(0,0,0,.03);
 }
 .chat-box-remitente {
    border-radius: 16px;
    border-bottom-left-radius: 0px; 
    background-color: #ffd6cf91;
    
 }

 .chat-box-emisor {
    border-radius: 16px;
    /* /* border-bottom-left-radius: 10px; */
    border-bottom-right-radius: 0px; 
 }

 .chat-box-emisor, .chat-box-remitente {
    width: 85%!important;
 }

 .info-profile {
     display: inline-block;
 }

 .list-item {
    height: 66vh;
    overflow: auto;
 }

 .container-parent-chat {
    --bs-gutter-x: 0!important;
 }
 .menu-profile {
     color: gray;
 }
 .menu-profile:hover {
    color: rgb(27, 27, 27);
    cursor: pointer;
 }

 /*Profile*/
 .size-img-profile{
     width: 180px;
     height: 180px;
     border: 5px solid white;
 } 
 .me-7{
    margin-right: 7.25rem!important;
 }

 @media (max-width: 768px) {

  .list-group-item-action {
    padding: 0px;
  }

  .img-chat{
      width: 40px;
      height: 40px;
  }

  .chat-description {
    display: none!important;
  }

  .chat-box-emisor p, .chat-box-remitente p{
      font-size: 0.9rem;
  }

  .container-parent-chat .nav-tabs{
    display: none;

  }
    .size-img-profile{
        width: 70px;
        height: 70px;
    }
  }
  @media (min-width: 992px) {
    .form-register{
        width: 70%;
    } 
  }
  #toggle-1-header {
      display: none;
  }

  /* DASHBOARD*/
  ul.nav_ {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #343434;
  }
  
  /* Header Styles */
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--header-height);
    background-color: #f3f3f3;
    padding-left: calc(var(--nav-width) + 1rem);
    transition: padding-left 0.2s ease-in-out;
  }
  
  header #nav-toggler {
    font-size: 1.5rem;
    box-shadow: 0 0 1px #343434;
    background-color: #fff;
    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
  }

 

  main  {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;  */
    justify-content: space-between;
    /* align-items: center; */
    margin-left: var(--nav-width) !important;
    width: auto !important;
    /* padding-left: calc(var(--nav-width) + 1rem) !important; */
    
    transition: margin-left 0.2s ease-in-out;
    
  }
  
  /* Side Menu Styles */
  #nav {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--nav-bg-color);
    margin-left: 0px;
    width: var(--nav-width);
    transition: margin-left .3s ease-in-out, width 0.2s ease-in-out;
    box-shadow: 0 0 2px #343434;
  }
  
  nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: var(--header-height);
  }
  
  nav i {
    margin-left: 1rem;
  }
  /* nav .logo span {
    margin-left: 1rem;
  } */
  
  .nav__item-link,
 
  .sign-out {
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
    color: #1e5aff;
    white-space: nowrap;
  }

  .nav__item-link:hover,
  .sign-out_:hover {
    
    color: #dc3545;
    
  }
  
  .nav__item-link span,
  .logo span,
  .sign-out span {
    margin-left: 0.5rem;
  }
  
  .nav__item-link + ul a {
    display: block;
    padding: 1rem;
    background-color: #f3f3f3;
    white-space: nowrap;
  }
  
  /* JS Classes */
  .collapse_ {
    width: var(--nav-collapse-width) !important;
  }
  
 
  /* .collapse_ a {
    text-align: center;
  } */
  
  .collapse_ span {
    display: none;
  }
  
  .collapse_ .nav__item-link + ul a {
    font-size: 0.85rem;
  }
  
  
  .collapse_ .info-user, .collapse_ .form-switch, .collapse_ .btn-post{
    display: none;
  }

  .collapse_ .dashboard-img-profile {
    height: auto;
    width: auto;
  }

  .collapse_ .dashboard-img-profile img {
    width: 50px;
  }
  .collapse-header {
    padding-left: calc(var(--nav-collapse-width) + 1rem);
  }
  
  .collapse-main {
    margin-left: var(--nav-collapse-width) !important;
  }

  .active_ {
    position: relative;
    color: var(--active-color);
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .active_:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 3px;
    margin: auto 0;
    background-color: var(--active-color);
  }
  
  .d-none {
    display: none;
  }
  
  .nav__item-link + ul a.active-sub-link {
    background-color: #ddd;
  }



  #sidebar-overlay {
    background-color: rgba(0,0,0,.1);
    bottom: 0;
    /* display: none; */
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
   

  @media (max-width: 992px){

 
    main {
      margin-left: 0px !important;
    }
    header {
      padding-left: 1rem !important;
    }
    
    .menu-mini {
      margin-left: -250px !important;
      z-index: 1001;
      
    }

    .collapse_ {
      margin-left: 0px !important;
      width: var(--nav-width)!important;
    }

    .collapse_ .info-user, .collapse_ .form-switch, .collapse_ .btn-post{
      display: inline-block;
    }

    
    .menu-mini span {
      /* visibility: hidden; */
      display: inline-block;
    }
  

}

  .size-img-profile{
    width: 150px;
    height: 150px;
}

.dashboard-img-profile{
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.dashboard-img-profile img {
  width: auto;
  height: 100%;
  /* margin-left: -40px; */
}


  .user-panel  img 
  {
    height: auto;
    width: 2.1rem;
  }

  .items-notifications i{
    color: #dc3545;
  }
  .items-notifications i {
    font-size: 1rem;
  }

  .item-think li {
    padding: .5rem 0rem !important;
  }