<footer class="text-center text-lg-start bg-light text-muted mt-4">

    <!-- Section: Links  -->
    <section class="d-flex justify-content-center justify-content-lg-between p-1 ">
      <div class="container text-center text-md-start mt-2">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <p class="mb-4" style="font-size: 20px;  color: black; font-weight: 400;">
                
               Woboxx
             </p>
            <p>
              Preguntas frecuentes
            </p>
            <p>
                Contacta con nosotros
              </p>
              <p>
                Novedades y noticias
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-3">
            <!-- Links -->
            <p class="mb-4" style="font-size: 20px;  color: black; font-weight: 400;">
                
               Legal:
            </p>
            <p>
              <a href="#!" class="text-reset">Privacidad</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Terminos y Condiciones</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Politica de cookies</a>
            </p>
        
          </div>
          <!-- Grid column -->

  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">
            <!-- Links -->
            <h6 class="mb-4" style="font-size: 20px; color: black; font-weight: 300;">
                <span>Puedes seguir nuestras redes:</span>
            </h6>
            <div style="margin: 15px; ">
            <a class="btn btn-floating" 
            style="background-color: #f12569; border-radius: 50%; color: white; margin-left: 1px;box-shadow: 2px 2px 2px rgb(126, 126, 126);"
            href="#!"role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-floating" 
            style="background-color: #1e2479; border-radius: 50%; color: white; margin-left: 7px;box-shadow: 3px 3px 3px rgb(126, 126, 126);"
            href="#!"role="button"><i class="fab fa-facebook"></i></a>
            <a class="btn btn-floating " 
            style="background-color: #6cacff; border-radius: 50%; color: white; margin-left: 7px;box-shadow: 3px 3px 3px rgb(126, 126, 126);"
            href="#!"role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-floating " 
            style="background-color: #ff1818; border-radius: 100%; color: white; margin-left: 7px;box-shadow: 3px 3px 3px rgb(126, 126, 126);"
            href="#!"role="button"><i class="fab fa-youtube"></i></a>
           </div>
           
           </div>
          
            
          </div>
          
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
   
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">woboxx.com</a>
    </div>
    <!-- Copyright -->
  </footer>